<section data-ng-controller="JobsController" data-ng-init='findOne()'>
	<div class="page-header">
		<h1>Edit Job</h1>
	</div>
	<div class="col-md-12">
		<form name="jobForm" class="form-horizontal" data-ng-submit="update(jobForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': jobForm.title.$dirty && jobForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="job.title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': jobForm.company.$dirty && jobForm.company.$invalid }">
					<label class="control-label" for="company">Company</label>
					<div class="controls">
						<input name="company" type="text" data-ng-model="job.company" id="company" class="form-control" placeholder="company" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" data-ng-model="job.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Requirements</label>
					<div class="controls">
						<textarea name="requirements" data-ng-model="job.requirements" id="requirements" class="form-control" cols="30" rows="10" placeholder="Requirements"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Hourly Wage</label>
					<div class="controls">
						<input type="text" name="hourly_wage" data-ng-model="job.hourly_wage" id="hourly_wage" class="form-control" placeholder="Hourly Wage">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">State</label>
					<div class="controls">
						<select name='state' data-ng-model='job.state' id='state' class='form-control'>
							<option value="AL">Alabama</option>
							<option value="CA">California</option>
							<option value="OR">Oregon</option>
							<option value="WA">Washington</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Contact Email</label>
					<div class="controls">
						<input type="text" name="contact_email" data-ng-model="job.contact_email" id="contact_email" class="form-control" placeholder="Contact Email">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update"class="btn btn-success">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>